div{
  color: white !important;
}

h1, h2, h3, h4, h5, h6, p{
  color: white !important;
}

li{
  padding-bottom: 5px;  
}

.textgrey{
  color: #999999;
}

.textblue{
  color: #002979;
}

.textorange{
  color: #ff9933 !important;
}
.header{
  

  
}

.logo{
  background-color: red;
  margin-top: 20px;
  padding: 10px 20px;
  vertical-align: middle;
}

.texttoolbar{
      margin-top: 80px;
    font-size: larger;
    letter-spacing: 1px;
}

.leng{
  background-color: #000033;
}

.flex-container{
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    text-transform: uppercase;
    

}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    margin: 10px;
}
.toolbargeneral{
  
  padding-top: 20px;
  float: left;
  width: 100%;

}
.line{
  font-size: 1em;
}
.toolbar{
background-color: #002979;
padding-bottom: 20px;
    padding-top: 20px;

width: 80%;
  
}
.toolbarblack{
  background-color: black;
  float: right;
  padding-bottom: 20px;
  padding-top: 20px;
  
}
.toolbarnext{
  background-color: red;
  float: right;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 200px;
  margin-left: 85px !important;
      padding-left: 40px;
  
}

.content{
  
}

div.imageh{
   position: relative;

}

div.imagesm{
  display: -webkit-flex;
    display: flex;
     -webkit-justify-content: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    bottom: 100px;
    position: inherit;
    

}
.itemsm{
  margin: 10px;
  border:1px solid black
}



.brands{
  background-color: #002979;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  align-items: center;
    
    
    
}

.whitebrands{
  width: 1200px;
  height: 300px;
  background-color: white;
}

.footerblue{
    display: -webkit-flex;
    display: flex;
     -webkit-justify-content: center;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  
}

.blueclediv {
background: #000033;
    font-size: small;
    padding-top: 12px;
    color:#99CCFF !important;
}

.bluediv{
background:#002979;

}
.footerblack{
  background: rgba(0, 0, 0, 0.71);
      padding-top: 10px;


}
.textcopy{
  text-align: end;

}
.textsignature p{
  text-align: center;
  padding-left: 60px !important;
  color: #b5b0b0 !important;
}

.logofoo{
padding-top: 40px;
padding-left: 110px;
}

.toolfoo{
  padding-top: 40px;
}